$grid-columns: 36;
$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;

// set theme colors
$primary: #4a8cd2;
$success: #41b883;
$dark: #212121;
$theme1: #33a8d1;

$enable-negative-margins: true;
$navbar-light-color: $dark;
$font-size-base: 0.85rem;
$input-btn-padding-x: 1rem;
$border-radius: 2px;
$link-color: $theme1;
// $body-color:             #FFF;
$btn-font-weight: 600;

// Finally load bootstrap
@import 'bootstrap/scss/bootstrap.scss';

:root {
  --logo-color: #ee5151;
  --text-color: #0d0d0e;
  --bg-color: #ffffff;
  --menu-active-color: #1f2937;
  --background-color: #111827;
  --navbar-height: 3.25em;
  --bg-navbar: #f7f7f7;
  --border-navbar: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f7f7f7;
    --bg-color: #0f121f;
    --bg-navbar: #0f121f;
    --border-navbar: #212436;
    --link-color: #a2a2b3;
  }
}

#__layout > div {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url(.~/assets/background-circles.svg);
  min-height: 100vh;
  display: grid;
  grid-template-rows: [row1-start] var(--navbar-height) 1fr auto;
  grid-template-areas:
    'navbar'
    'main'
    'footer';

  .main-navbar {
    grid-area: navbar;
    background-color: var(--bg-navbar);
    border-bottom: 1px solid var(--border-navbar);

    .navbar {
      font-family: 'Poppins';
      > .navbar-brand {
        color: var(--logo-color);
      }
    }
  }

  .main-container {
    grid-area: main;
    padding-top: 2em;
    padding-bottom: 2em;
    > .signin {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .main-footer {
    grid-area: footer;
    background-color: var(--bg-navbar);
    border-top: 1px solid var(--border-navbar);
    font-size: 0.65rem;

    > .links {
      height: calc(var(--navbar-height) * 1.8);
    }
    > .licensed {
      height: calc(var(--navbar-height) * 1);
    }
  }

  a {
    color: var(--link-color);
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      color: var(--link-color);
      opacity: 0.65;
    }
  }

  // .btn-primary:disabled {
  //   background-color: #a2a2b3;
  // }
}

.markdown-body {
  font-size: 0.85rem !important;
}

.navbar-nav {
  .nav-menu {
    font-size: 1.4rem !important;
  }
  .dropdown-menu {
    .dropdown-item {
      font-size: 0.75rem;
      padding: 0.15rem 0.8rem;
    }
    .dropdown-divider {
      margin: 0.1rem 0;
    }
  }
  .b-nav-dropdown.active {
    a:after {
      color: #fff;
    }
    text-decoration: none;
    background-color: #4a8cd2;
  }
  .dropdown-menu-right {
    right: 5px;
    -webkit-box-shadow: 3px 3px 6px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 6px -6px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 6px -6px rgba(0, 0, 0, 1);
  }
}

.nav-link {
  padding: 0.2rem 1rem;
}
// .custom-control-label::before {
//   position: absolute;
//   top: 0.3rem;
//   left: -3.25rem;
// }
// .custom-control-label::after {
//   position: absolute;
//   top: 0.3rem;
//   left: -3.25rem;
// }
// .custom-switch .custom-control-label::before {
//   left: -3.25rem;
// }
// .custom-switch .custom-control-label::after {
//   top: calc(0.3rem + 2px);
//   left: calc(-3.25rem + 2px);
// }

// .tasklist {
//   font-size: 0.9rem;
//   font-weight: 300;
//   padding-left: 5rem;
//   margin-bottom: 20px;
// }
pre {
  background: #e4e4e4;
  padding: 5px 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
  margin: 8px 0;
}
.form-group .problem {
  z-index: 3;
  font-size: 11px;
  padding: 2px 9px;
}
.form-group > label {
  font-weight: bold !important;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
  margin-right: 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
textarea.reason {
  min-width: 290px;
  max-width: 600px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .register-form {
    margin-top: 10%;
  }

  textarea.reason {
    width: 290px;
  }
}

@media screen and (min-width: 450px) {
  textarea.reason {
    width: 380px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  textarea.reason {
    width: 600px;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-ssm {
  font-weight: bold;
  font-size: 10px;
  padding: 2px 6px;
}

.f-xs {
  font-size: 0.75rem;
}
.f-sm {
  font-size: 0.85rem;
}
.f-md {
  font-size: 1rem;
}
.btn-xs {
  padding: 0.05rem 0.25rem;
  font-size: 0.9rem;
}
.markdown-guide:hover {
  text-decoration: none !important;
}
